/* Default (Light Mode) Theme */
:root {
    --primary: #FCA311;
    --accent: #14213D;
    --secondary-accent: #3D4A73;
    --bg: #FFFFFF;
    --secondary-bg: #E5E5E5;
    --text: #14213D;
    --secondary-text: #E5E5E5;
    --tertiary-text: #FCA311;
}

/* Dark Mode Theme */
[data-theme="dark"] {
    --primary: #FCA311;
    --accent: #14213D;
    --secondary-accent: #3D4A73;
    --bg: #000000;
    --secondary-bg: #1F1F1F;
    --text: #FFFFFF;
    --secondary-text: #E5E5E5;
    --tertiary-text: #FCA311;
}

header {
    .navigation-bar {
        display: flex;
        align-content: center;
        justify-content: space-between;
        background-color: var(--accent);
        gap: 1em;
        box-sizing: border-box;
    }

    .navigation-bar .nav-bar-item {
        color: var(--primary);
        padding: 1em;
        font-size: 1.3em;
        font-weight: bold;
    }

    .navigation-bar .theme-toggle {
        margin-left: auto;
    }
}

body {
    background-color: var(--secondary-bg);
    color: var(--text);
    font-family: Arial, sans-serif;
    margin: 0;
}

section {
    padding: 1em;
    margin: 1em;
    background-color: var(--bg);
    border-radius: 5px;
    height: 90vh;
    box-sizing: border-box;
}

.about-section-container {
    display: flex;
    gap: 30px;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;

    .about-section-sidebar {
        background-color: var(--accent);
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
        gap: 16px;
        padding: 2em;
        box-sizing: border-box;
        border-radius: 10px;
        width: clamp(500px, 40vw, 700px);

        .social-media-icons {
            display: flex;
            gap: 20px;
            justify-content: center;

            [class*="bi "] {
                width: 30px;
                height: 33px;
            }

            .bi-youtube {
                width: 40px;
                height: 35px;
            }
        }
    }

    .about-section-main-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 100%;

        .about-section-main-content-top-items {
            display: flex;
            flex: 1;
            gap: 30px;

            .about-section-main-content-skills {
                flex: 1;
                background-color: var(--secondary-accent);
                border-radius: 10px;
            }
        }

        .about-section-main-content-bottom-items {
            height: 300px;
        }
    }
}

.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid var(--primary);
    margin-top: -25px;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

a {
    color: var(--accent);
    text-decoration: none;
    transition: box-shadow 0.3s;
}

a:hover {
    box-shadow: inset 0 -5px 0 #FCA311;
}

h1 {
    color: var(--text);
    font-size: 1.9rem;
}

h2 {
    color: var(--text);
    font-size: 1.1rem;
    font-weight: lighter;
}

.theme-toggle {
    cursor: pointer;
    background-color: var(--accent);
    color: var(--primary);
    border: none;
    padding: 0.5em 1em;
    transition: box-shadow 0.3s;
}

.theme-toggle-svg {
    fill: var(--accent);
}

/* To make something proportional, thing/the whole media * 100 is the percent it should take up */
